{% extends 'base_blog.html' %}

{%  block title %} Publicaciones {% endblock %}

{%  block content %} 
    <h1>Mis publicaciones</h1>
    <div class="extremos">
        <a href="{% url 'namespaceblog:post-register' %}">¿Quieres hacer una publicación?</a>
        <a href="{% url 'namespaceusuarios:user-dates' %}"><button>Ver calificaciones</button></a>
    </div>

    {% for post in clave %}
        <h2> {% comment %} se redirecciona al id con un enlace  {% endcomment %}
            <a href="{% url 'namespaceblog:post_detail' post.id %}">{{post.title}}</a> 
        </h2>
        <p>{{post.content|truncatewords:30}}</p> {% comment %} aplicando filtro de las 30 primeras palabras {% endcomment %}
    {% endfor %}
{% endblock content %}

{% comment %} 
        {% if request.user.is_authenticated %} 
              <a href="{% url 'namespaceblog:register-post' %}">Registrar un nuevo Post</a>
        {%  endif %} 
 {% endcomment %}