{% load static %} {% comment %} Cargar los archivos estaticos {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title> {% comment %} vacios para ser heredados {% endcomment %}
    <link rel="stylesheet" href="{% static 'lib/pico-main/css/pico.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    {% if request.user.is_authenticated %}
        <p>Bienvenido {{request.user.first_name|default:request.user.username}}</p>
        <div class="derecha">
          <a href="{% url 'logout' %}"><button>Cerrar Sesión</button></a>
        </div>        
    {% else %}
      <div class="derecha">
        <a href="{% url 'login' %}"><button>Iniciar Sesión</button></a>
      </div>
    {%  endif %}
    
    {% block content %}
        {% comment %} vacios para ser heredados {% endcomment %}
    {% endblock content %}

    {% if messages %}
            <ul>
            {% for message in messages %}
                <li>
                    {{message|safe}} {% comment %} filtro para que se renderice correctamente en el html {% endcomment %}
                    <a href=''>X</a> {% comment %} para cerrar el mensaje generado {% endcomment %}
                </li>
            {% endfor message %}
            </ul>
    {% endif %}
  </body>
</html>